ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/b8eccdaa-a4b6-4db4-823e-ce8fcd720647.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/v17/.suo
ConsoleTaskList/.vs/ConsoleTaskList/v17/DocumentLayout.backup.json
ConsoleTaskList/.vs/ConsoleTaskList/v17/DocumentLayout.json
ConsoleTaskList/.vs/ConsoleTaskList/DesignTimeBuild/.dtbcache.v2
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/f8681fa6-d7af-4897-87f6-2f8180134dc1.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/7d67a971-ebca-4ae7-b0d0-bb1ffd964568.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/3af58a6d-6f5a-47e7-92e0-33d2cfdd16a4.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/v17/.futdcache.v2
ConsoleTaskList/.vs/ProjectEvaluation/consoletasklist.metadata.v9.bin
ConsoleTaskList/.vs/ProjectEvaluation/consoletasklist.projects.v9.bin
ConsoleTaskList/.vs/ProjectEvaluation/consoletasklist.strings.v9.bin
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/62d37033-400c-4026-8ef7-56d463f2205c.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/93d6e302-87cb-45a1-b820-be9c6577f5fd.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/60482a83-6abb-431e-9029-aac66e74cacf.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/5478e441-4752-4325-ac50-0245d9fe9cf3.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/52aaf9e7-8881-40fe-b43b-8bfa5985f5e9.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/2d599bf9-2e02-4665-a2da-bbafbf998ee4.vsidx
