ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/b8eccdaa-a4b6-4db4-823e-ce8fcd720647.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/v17/.suo
ConsoleTaskList/.vs/ConsoleTaskList/v17/DocumentLayout.backup.json
ConsoleTaskList/.vs/ConsoleTaskList/v17/DocumentLayout.json
