ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/b8eccdaa-a4b6-4db4-823e-ce8fcd720647.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/v17/.suo
ConsoleTaskList/.vs/ConsoleTaskList/v17/DocumentLayout.backup.json
ConsoleTaskList/.vs/ConsoleTaskList/v17/DocumentLayout.json
ConsoleTaskList/.vs/ConsoleTaskList/DesignTimeBuild/.dtbcache.v2
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/f8681fa6-d7af-4897-87f6-2f8180134dc1.vsidx
ConsoleTaskList/.vs/ConsoleTaskList/FileContentIndex/7d67a971-ebca-4ae7-b0d0-bb1ffd964568.vsidx
